/** @format */

.movie_section {
  display: flex;
}
h2 {
  background-color: blueviolet;
}
.card {
  width: 200px;
}
video {
  width: 200px;
}
.more-button {
  width: 100px;
  height: 100px;
  background-color: blueviolet;
}
.end-section {
  background-color: cadetblue;
  width: 100%;
  height: 50px;
}
